#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img {
  background-color: white;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  border-radius: 50%;
}

.divisor-footer {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.container-footer {
  width: 1600px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.dados-footer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.social-footer {
  margin-right: 20px;
  font-size: 40px;
  color: white;
}

.container-footer-1 {
  padding: 40px;
}

.container-social-footer {
  margin-top: 20px;
}

.link-footer {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.title-contato {
  font-size: 30px;
  margin-bottom: 30px;
}

.link-email {
  font-size: 25px;
  color: white;
  border-bottom: 1px solid white;
}

@media (max-width: 820px) {
  .footer-img {
    display: none;
  }

  #footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .divisor-footer {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
  }

  .container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
  }



  .container-footer-1 {
    max-width: 100%;
    height: 100%;
  }

  .title-contato {
    font-size: 1.2em;
    margin: 15px 0;
  }

  .text-footer,
  .container-footer-1 p {
    font-size: 12px;
  }

  .link-email,
  .link-linkedin,
  .link-footer {
    /* Adicionei o ponto (.) antes de link-footer */
    font-size: 16px;
  }

  .link-footer {
    margin-top: -12px;
  }

  .container-footer {
    max-width: 100%;
    /* Defina uma largura máxima para evitar que o conteúdo saia da tela */
    margin: 0 auto;
    /* Centralize o conteúdo na tela */
  }


  .contato {
    flex-direction: column;
    align-items: flex-start !important;
    /* O uso de !important não é recomendado, tente evitar se possível. */
    gap: 10px !important;
  }
}

@media (max-width: 480px) {
  .footer-img {
    display: none !important;
  }

  .divisor-footer {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
  }

  .container-footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }

  #footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .container-footer-1 {
    height: 100%;
  }

  .title-contato {
    font-size: 1.2em;
    margin: 15px 0;
  }

  .text-footer,
  .container-footer-1 p {
    font-size: 12px;
  }

  .link-email,
  .link-linkedin,
  link-footer {
    font-size: 16px;
  }

  .link-footer {
    margin-top: -12px;
  }

  .container-footer {
    align-items: flex-start;
  }

  .contato {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 10px !important;
  }
}