#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}


.footer-img {
  background-color: white;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  border-radius: 50%;
}


.img-bg-footer {
  /* background: url('../images/renderizacao-3d-de-um-design-de-poliplexo-baixo-com-estrutura-de-comunicacao-de-rede.jpg') lightgray 50% / cover no-repeat; */
  /* background-size: 100%;
  background-position: 50%; */
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  height: 32.77313rem;
  opacity: 0.5;
  z-index: 1;
}

.img-bg-footer img {
  width: 100%;
  display: block;
}

.container-footer {
  width: 100%;
  position: absolute;
  height: 32.77313rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 30px;
  z-index: 1;
}

.dados-footer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.social-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  font-size: 40px;
  color: white;
}

.container-social-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.social-link {
  color: #D2D2D2;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-footer-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 7.125rem;
  background: #000;
  z-index: 1000;
}

.container-social-footer {
  margin-top: 20px;
}

.link-footer {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.title-contato {
  font-size: 30px;
  margin-bottom: 30px;
}

.link-email {
  font-size: 25px;
  color: white;
  border-bottom: 1px solid white;
}

.textFooter {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textBlue {
  color: #0049FF;
}



