@media (max-width:796px) {
body{
margin: 0;
padding: 0;
}

  #img{
display: none;
}
#header{
display: none;
}
#about{
font-size: 10px;
}
.nav{
display: flex;
justify-content: flex-start;
gap: 20px;
}

.aboutText {
display: flex;
flex-wrap: wrap;
width: auto;
}
}



