#Projects {
  border: 1px solid white;
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.subtitles {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #D2D2D2;
  font-family: Roboto Mono;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 70px;
}

.designTitles {
  color: #0049FF;
  font-size: 3rem;
}

.detailsProjects {
  display: grid;
  grid-template-columns: repeat(3, 22.26rem);
  justify-content: center;
  gap: 40px;
  margin: 30px 0;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #0049FF;
  height: 33rem;
  justify-content: space-between;
}


.imgProjects {
  width: 21.85rem;
  height: 15.00294rem;
  background-size: cover;
  background-position: center;
}

.titleProjects {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid none;
  animation: anime 5s steps(40), forwards;
}

@keyframes anime {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

.repositorio_link {
  color: #fff;
  transition: 0.3s inherit;
}

.repositorio_link:hover {
  color: #f1ef78;
}

.details {
  color: #D2D2D2;
  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 17rem;
}


.container-projetct {
  display: flex;
  justify-content: space-between;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}



