.containerProject{
background-color: rgb(120, 163, 204);
box-shadow: 0px 4px 6px -2px black;
transition: 0.3s;
}

.imageContainer {
  width: 600px;
}

.image {
  height: 100%;
  width: 100%;
}

.containerProject:hover{
transform: scale(1.1);
}