#skills {
  width: 1600px;
  margin: 30px auto 40px auto;
}

.container {
  display: flex;
}

.habilidades {
  width: 600px;
  height: 600px;
  padding: 30px 0;
  margin-right: 30px;
  background-color: #5d6c83;
  border-radius: 20px;
  transition: 0.3s linear;
}

.habilidades:hover {
  transform: scale(1.1);
}

.radio-skil {
  height: 100px;
  width: 100px;
  margin: 20% auto 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.nameSkil {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin: 15px 0;
  text-align: center;
}

.skill {
  font-size: 50px;
}

.slideContainer {
  height: 600px;
}

.slick-initialized .slick-track {
  display: flex;
  align-items: center;
  height: 100%;
}

.slick-next,
.slick-prev {
  border: 2px solid #f9f7f7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slick-slide {
  margin: 30px 45px !important;
}


.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}



@media (max-width: 480px) {
  .slick-slide {
    margin: 10px 10px !important;
  }

  #skills {
    width: 100%;
  }

  .title-04 {
    margin: 20px 0 15px 0;
    font-size: 1.5em;
  }

  .habilidades,
  .slideContainer {
    height: 450px;
  }

  .nameSkil {
    font-size: 1.5em;
  }

  .container-text-01 {
    font-size: 12px;
  }

  .radio-skil {
    height: 70px;
    width: 70px;
    margin: 10% auto 0 auto;
  }

  .skill {
    font-size: 35px;
  }
}