#skills {
  width: 1600px;
  margin: auto;
}

.container {
  display: flex;
}

.habilidades {
  width: 400px;
  height: 350px;
  padding: 30px 0;
  margin-right: 30px;
  background-color: #5d6c83;
  border-radius: 8px;
}

.skill {
  height: 90px;
  width: 90px;
  padding: 10px;
  border-radius: 50%;
  background-color: blue;
  color: rgb(162, 162, 233);
}

.habilidades:hover {
  transform: scale(1.1);
}

.slideContainer {
  height: 400px;
}

.slick-initialized .slick-track {
  display: flex;
  align-items: center;
  height: 100%;
}



.slick-prev {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
}


.slick-slide {
  margin: 30px 60px !important;
}


@media (max-width: 420px) {
  .slick-slide {
    margin: 10px 5px !important;
  }

  #skills {
    width: 370px;
  }
}