#skills {
  width: 1600px;
  margin: 30px auto 40px auto;
  padding: 50px 0;
}

.container {
  display: flex;
}

.habilidades {
  width: 600px;
  height: 400px;
  padding: 30px 0;
  margin-right: 30px;
  border-radius: 20px;
  transition: 0.3s linear;
}

.habilidades:hover {
  transform: scale(1.1);
}

.radio-skil {
  height: 100px;
  width: 100px;
  margin: 20% auto 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameSkil {
  color: #D2D2D2;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}

.skill {
  width: 5.625rem;
  height: 5.625rem;
}

.slideContainer {
  height: 400px;
}

.slick-initialized .slick-track {
  display: flex;
  align-items: center;
  height: 100%;
}

.slick-next,
.slick-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  z-index: 1;
  color: white;
}


.slick-slide {
  margin: 30px 45px !important;
}


.slick-prev {
  left: -80px;
}

.slick-next {
  right: -80px;
}



