@media (max-width: 480px) {
  .detailsProjects {
    grid-template-columns: 22.26rem;
  }

  
  .projeto{
    height: 30rem;
    width: 21rem;
  }
    .imgProjects {
      width: 20.5rem;
      height: 15.00294rem;
      background-size: cover;
      background-position: center;
    }
}