@media (max-width: 480px) {
  .slick-slide {
    margin: 10px 10px !important;
  }

  #skills {
    padding: 10px;
    width: 100%;
    margin: 0 0 -200px 0;
  }

  .title-04 {
    margin: 20px 0 15px 0;
    font-size: 1.5em;
  }

  .habilidades,
  .slideContainer {
    height: 450px;
  }

  .nameSkil {
    font-size: 1.5em;
  }

  .container-text-01 {
    font-size: 12px;
  }

  .radio-skil {
    height: 70px;
    width: 70px;
    margin: 10% auto 0 auto;
  }

  .skill {
    font-size: 35px;
  }
}